<!-- start: PAGE CONTENT -->
					<div class="row">

					{% if message_content  %}
					<div class="alert alert-{{ message_status }}">
						<button data-dismiss="alert" class="close">x</button>
						<i class="fa fa-check-circle"></i>
						<strong>{{ message_title }}</strong> {{ message_content }}.
					</div>
					{% endif %}
					
						<div class="col-sm-12">
							<div class="tabbable">

                                <h4>{% trans from "password" %}introduction{% endtrans %}</h4>
                                <br>

                                <table width="100%" border="0" cellspacing="10" cellpadding="10">
                                    <tbody>
                                    <tr>
                                        <td valign="top" width="30%">{{ form(form) }}</td>
                                        <td valign="top">

                                            <div class="panel-body">
                                                <div class="alert alert-success">
                                                    <p>
                                                        {{ "instructions"|trans([],"password")|raw }}
                                                    </p>
                                                </div>

                                            </div>


                                        </td>
                                    </tr>
                                    </tbody>
                                </table>







								
								
								
							</div>
						</div>
					</div>
					<!-- end: PAGE CONTENT-->