

<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>{{ site_title }}</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="{{ asset ('bundles/bmgbooktool/plugins/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset ('bundles/bmgbooktool/plugins/font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset ('bundles/bmgbooktool/fonts/style.css') }}">
		<link rel="stylesheet" href="{{ asset ('bundles/bmgbooktool/css/main.css') }}">
		<link rel="stylesheet" href="{{ asset ('bundles/bmgbooktool/css/main-responsive.css') }}">
		<link rel="stylesheet" href="{{ asset ('bundles/bmgbooktool/plugins/iCheck/skins/all.css') }}">
		<link rel="stylesheet" href="{{ asset ('bundles/bmgbooktool/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css') }}">
		<link rel="stylesheet" href="{{ asset ('bundles/bmgbooktool/plugins/perfect-scrollbar/src/perfect-scrollbar.css') }}">
		<link rel="stylesheet" href="{{ asset ('bundles/bmgbooktool/css/theme_light.css') }}" type="text/css" id="skin_color">
		<link rel="stylesheet" href="{{ asset ('bundles/bmgbooktool/css/print.css') }}" type="text/css" media="print"/>
		<!--[if IE 7]>
		<link rel="stylesheet" href="{{ asset ('bundles/bmgbooktool/plugins/font-awesome/css/font-awesome-ie7.min.css') }}">
		<![endif]-->
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<style>
			body.login .box-login {
				display: block;
			}
		</style>
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body class="login example2">
		<div class="main-login col-sm-4 col-sm-offset-4">
			<div class="logo">BMG<i class="clip-clip"></i>Tool
			</div>
			<!-- start: ACCOUNT CREATED CONFIRMATION BOX -->
			<div class="box-login">
				<h3>{% trans from "register" %}account_created_confirmation_title{% endtrans %}</h3>
				<p>{% trans from "common" %}hello_message{% endtrans %} {{ first_name }} {{ last_name }} - {{ email }},</p>
				<p>{% trans from "register" %}account_created_confirmation_text{% endtrans %}</p>

			</div>
			<!-- end: ACCOUNT CREATED CONFIRMATION BOX -->
			<!-- start: COPYRIGHT -->
			<div class="copyright">
				{% trans from "common" %}copyright{% endtrans %} 
			</div>
			<!-- end: COPYRIGHT -->
		</div>
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/respond.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/excanvas.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset ('bundles/bmgbooktool/plugins/jQuery-lib/1.10.2/jquery.min.js') }}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="{{ asset ('bundles/bmgbooktool/plugins/jQuery-lib/1.11.2/jquery.min.js') }}"></script>
		<!--<![endif]-->
		<script src="{{ asset ('bundles/bmgbooktool/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/blockUI/jquery.blockUI.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/iCheck/jquery.icheck.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/perfect-scrollbar/src/jquery.mousewheel.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/less/less-1.5.0.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/js/main.js') }}"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="{{ asset ('bundles/bmgbooktool/plugins/jquery-validation/dist/jquery.validate.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/js/register.js') }}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
				Login.init();
			});
		</script>
	</body>
	<!-- end: BODY -->
</html>