
<table width="602" border="1px" bordercolor="#cccccc" cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr>
      <td style="font-family:'Open San', Helvetica, sans-serif; font-size:15px; line-height:18px;">
      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr>
      <td><img src="{{ url ~ asset ('bundles/bmgbooktool/images/BMG-tool-activation-email-1_01.jpg') }}" alt="" width="600" height="95" usemap="#Map3"/></td>
    </tr>
    <tr>
      <td>
      <div style="margin:0; padding: 10px 30px 20px 30px;">
      <p>Dear {{ user_fullname }},</p>
<p style="padding-bottom:15px;">Thank you for using BMG Tool!</p>
<p style="color:#cc0000;"><strong>Your password has been modified successfuly.</strong></p>

<p>If you’re not {{ user_fullname }}, you can ignore this email.</p>
<p style="color:#cc0000;">The BMG Team</p></div>
</td>
    </tr>
    <tr>
      <td><table width="600" border="0" align="left" cellpadding="0" cellspacing="0" style="background-color:#666666;">
  <tbody>
    <tr>
      <td width="32px" align="left" valign="top">&nbsp;</td>
      <td width="330px" align="left" valign="top"><p style="color:#fff; font-size:13px; padding:12px 10px 10px 0px; margin:0px;"><strong>Follow us for regular updates on what we’re up to!</strong></p></td>
      <td align="left" valign="top"><img src="{{ url ~ asset ('bundles/bmgbooktool/images/BMG-tool-activation-email-1_08.jpg') }}" width="108" height="20" usemap="#Map" style="padding:10px 0; margin-left: 35px;" /></td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
    <tr>
      <td><table width="600" border="0" align="left" cellpadding="0" cellspacing="0" style="background-color:#444444;">
  <tbody>
    <tr>
      <td width="235px" align="left" valign="top"><img src="{{ url ~ asset ('bundles/bmgbooktool/images/BMG-tool-activation-email-1_12.jpg') }}" width="165" height="24" usemap="#Map2" style="padding:30px;"/></td>
      <td align="left" valign="top"><p style="color:#fff; font-size:12px; padding-top:25px; margin:0px;">WASHINGTON, D.C.<br> (202) 609-7757</p></td>
      <td align="left" valign="top"><p style="color:#fff; font-size:12px; padding-top:25px; margin:0px;">NEW YORK, NY <br> (212) 784-6020</p></td>
      <td align="left" valign="top"><p style="color:#fff; font-size:12px; padding-top:25px; margin:0px;">LOS ANGELES, CA <br> (310) 807-4635</p></td></tr></tbody></table>
      </td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
  </tbody>
</table>


<map name="Map">
  <area shape="rect" coords="-2,-1,18,24" href="https://twitter.com/Broadcast_Mgmt" target="_blank" alt="BMG Twitter">
  <area shape="rect" coords="27,-7,48,18" href="https://www.facebook.com/BroadcastManagementGroup" target="_blank" alt="BMG Facebook">
  <area shape="rect" coords="54,0,77,20" href="http://www.linkedin.com/company/broadcast-management-group-llc?trk=hb_tab_compy_id_219976" target="_blank" alt="BMG LinkedIn">
  <area shape="rect" coords="87,-5,107,26" href="https://www.youtube.com/user/BroadcastMgmt?feature=mhee" target="_blank" alt="BMG YouTube">
</map>

<map name="Map2">
  <area shape="rect" coords="0,-3,195,62" href="http://www.broadcastmgmt.com/" target="_blank" alt="BMG">
</map>

<map name="Map3">
  <area shape="rect" coords="152,12,435,85" href="http://www.broadcastmgmt.com/" target="_blank" alt="BMG">
</map>

