{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ProjectRole list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Rolename</th>
                <th>Roleid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('projectrole_show', { 'id': entity.roleId }) }}">{{ entity.roleName }}</a></td>
                <td>{{ entity.roleId }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('projectrole_show', { 'id': entity.roleId }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('projectrole_edit', { 'id': entity.roleId }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('projectrole_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
