

            <div id="post-area" class="col span_12">

                {% if message_content is defined %}
                {% if message_content %}
                    <div class="alert alert-{{ message_status }}">
                        <button data-dismiss="alert" class="close">x</button>
                        <i class="fa fa-check-circle"></i>
                        <strong>{{ message_title }}</strong> {{ message_content }}.
                    </div>
                {% endif %}
                {% endif %}

                <table width="100%" border="0" cellspacing="10" cellpadding="10">
                    <tbody>
                    <tr>
                        <td width="45%" valign="top">
                            <img src="{{ asset ('bundles/bmgbooktool/images/BMGoLive_Logo.png') }}" width="60%" />

                            <p style="text-align: justify;">Broadcast Management Group is a full-service production management
                                company specializing in live news, sports and entertainment series and specials. Our projects can
                                happen in any location at any time. That’s where you come in.</p>

                            <p style="text-align: justify;">We’re always in need of talented, local freelancers for our production
                                projects. To help us get to know you, we’ve developed the {{ site_name }} in order to gather vital
                                information about you and your experience.</p>
                            <p style="text-align: justify;">That way we can quickly match you expertise to the
                                appropriate production project. Once you’ve been booked on a project, through the {{ site_name }}, we can
                                send you call sheets, production books and even handle your invoicing and crew payments.</p>

                            <p style="text-align: justify;">So please take a few minutes to create a freelancer profile and be sure
                                to keep it current so we know what you’ve been up to. We hope to be working together soon.</p>
                        </td>
                        <td width="2%" valign="top">&nbsp; </td>
                        <td width="53%" valign="top">




			<div class="box-login">
				<h3>{% trans from "login" %}title_recovery_password{% endtrans %}</h3>
				<p>
					{% trans from "login" %}enter_recovery_password{% endtrans %}
				</p>
				<form class="form-login" action="{{ path('doRecoveryPassword') }}" method="POST" id="form-RecoveryPassword" name="form-RecoveryPassword">

					<fieldset>

						<div class="form-group form-actions">
							<span class="input-icon">
								<input type="password" class="form-control password" id="password1" name="password1" placeholder="{% trans from "login" %}placeholder_reset_password{% endtrans %}">
                            </span>
						</div>

						<div class="form-group form-actions">
							<span class="input-icon">
								<input type="password" class="form-control password" id="password2" name="password2" placeholder="{% trans from "login" %}placeholder_reset_password_confirmation{% endtrans %}">
                            </span>
						</div>

						<div class="form-actions">

							<button type="submit" class="btn btn-bricky pull-right" id="btn-form-login" name="btn-form-login">
								{% trans from "login" %}btn_reset_password{% endtrans %} <i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
						<div class="back">
							<a href="{{ path('login')}}" class="login">
								{% trans from "login" %}login{% endtrans %}
							</a>
						</div>
					</fieldset>
					<input type="hidden" id="token" name="token" value="{{ hash }}">
				</form>
			</div>
			<!-- end: LOGIN BOX -->




                        </td>
                    </tr>
                    </tbody>
                </table>

		</div>



		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/respond.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/excanvas.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset ('bundles/bmgbooktool/plugins/jQuery-lib/1.10.2/jquery.min.js') }}"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="{{ asset ('bundles/bmgbooktool/plugins/jQuery-lib/2.0.3/jquery.min.js') }}"></script>
		<!--<![endif]-->
		<script src="{{ asset ('bundles/bmgbooktool/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>

		<script src="{{ asset ('bundles/bmgbooktool/plugins/blockUI/jquery.blockUI.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/iCheck/jquery.icheck.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/perfect-scrollbar/src/jquery.mousewheel.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/perfect-scrollbar/src/perfect-scrollbar.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/less/less-1.5.0.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/js/main.js') }}"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="{{ asset ('bundles/bmgbooktool/plugins/jquery-validation/dist/jquery.validate.min.js') }}"></script>
		<script src="{{ asset ('bundles/bmgbooktool/js/login.js') }}"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script>
			jQuery(document).ready(function() {
				Main.init();
				Login.init();
                jQuery("#btn-form-login").prop("disabled",true);

			});

			jQuery(document).ready(function() {
			  $("#password2").keyup(validate);
			});


			function validate() {

			  var password1 = jQuery("#password1").val();
			  var password2 = jQuery("#password2").val();

			    if(password1 == password2) {
			       jQuery("#btn-form-login").text("{% trans from "login" %}btn_reset_password{% endtrans %} ");
			       jQuery("#btn-form-login").attr('class', "btn btn-green pull-right");
                   jQuery("#btn-form-login").prop("disabled",false);
			    }
			    else {
                    jQuery("#btn-form-login").prop("disabled",true);
			        jQuery("#btn-form-login").text("{% trans from "login" %}btn_reset_password_dont_match{% endtrans %} ");
			        jQuery("#btn-form-login").attr('class', "btn btn-bricky pull-right");
			    }

			}


		</script>









            </div>
            <!--/span_9-->
